// Цвета
$color-bg:#1d1d1d;
$color-font:#fff;
$color-bgMenu:#181818;
$color-MenuBtn:#4d4d4e;
$color-MenuBtnActive:#08fdd8;
$color-tag:#4d4d4e;
$color-btn:#08fdd8;
$color-textHover:#4d4d4e;
$color-title:#08fdd8;
$color-bgInput:#2b2b2b;
$color-inputTxt:#4d4d4e;
$color-tematicWord:#08fdd8;
// Шрифты
$font-main:Goldplay,
sans-serif;